*{
    padding: 0;
    margin: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  /**navbar**/
#navbar-grid{
    height: 20vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    /**position: fixed;**/
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 12px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: silver;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 1%;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-lnk{
    text-decoration: none;
  }
  .txt{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: silver;
    max-height: 300vh;
  }
  .txt-lnk{
    color: black;
  }
  .txt-lnk:hover{
    color: white;
  }
  .txt-lnk:visited{
    color: black;
  }
  /**report txt pages**/
  .report-txt{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 90%;
    background-color: silver;
    height: 90vh;
  }
  .report-title{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    margin-top: 20px;
  }
  .report-para{
    margin-top: 10px;
    text-align: justify;
    grid-column: 2;
    grid-row: 2;
  }
  /**ref links**/
  .ref-lnk{
    text-emphasis: bold;
    text-decoration: none;
    color: black;
  }
  .ref-lnk:hover{
    color: white;
  }
  .ref-lnk:visited{
    color: black;
  }
  /**index.html**/
  #summary{
    grid-template-rows: 10% 90%;
  }
  #summary-title{
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #summary-txt{
    text-align: justify;
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  /**background.html**/
  #background{
    height: 100vh;
    grid-template-rows: 10% 40% 10% 40%;
  }
  #nasa{
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #nasa-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 5px;
  }
  #spacex{
    grid-row: 3;
    grid-column: 2;
    margin-top: 10px;
  }
  #spacex-txt{
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
  }
  /**problems.html**/
  #problem{
    grid-template-rows: 10% 20% 10% 20% 10% 20%;
    height: 120vh;
  }
  #MedicalProblem{
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #MedicalProblem-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  #InterplanetaryFlightProblem{
    grid-row: 3;
    grid-column: 2;
    margin-top: 10px;
  }
  #InterplanetaryFlightProblem-txt{
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
  }
  #CyclerOrbitsProblem{
    grid-row: 5;
    grid-column: 2;
    margin-top: 10px;
  }
  #CyclerOrbitsProblem-txt{
    grid-row: 6;
    grid-column: 2;
    margin-top: 10px;
  }
  /**solutions.html**/
  #solution{
    display: grid;
    grid-template-rows: 10% 20% 10% 20% 10% 20%;
    height: 120vh;
  }
  #crewSolution{
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #crewsolution-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  #interplanetarysolution{
    grid-row: 3;
    grid-column: 2;
  }
  #interplanetarysolution-txt{
    grid-row: 4;
    grid-column: 2;
  }
  #cyclerorbitssolution{
    grid-row: 5;
    grid-column: 2;
  }
  #cyclerorbitssolution-txt{
    grid-row: 6;
    grid-column: 2;
  }
  /**missondesign**/
  #missiondesign{
    display: grid;
    grid-template-rows: 10% 90%;
  }
  #shortvlong{
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #shortvlong-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  /**funding.html**/
  #funding{
    display: grid;
    grid-template-rows: 7.5% 17.5% 7.5% 17.5% 7.5% 17.5% 7.5% 17.5%;
    height: 200vh;
  }
  #uksa{
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #uksa-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  #privateinvest{
    grid-row: 3;
    grid-column: 2;
    margin-top: 10px;
  }
  #privateinvest-txt{
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
  }
  #esa{
    grid-row: 5;
    grid-column: 2;
    margin-top: 10px;
  }
  #esa-txt{
    grid-row: 6;
    grid-column: 2;
    margin-top: 10px;
  }
  #uk-us{
    grid-row: 7;
    grid-column: 2;
    margin-top: 10px;
  }
  #uk-us-txt{
    grid-row: 8;
    grid-column: 2;
    margin-top: 10px;
  }
  /**costing.html**/
  #costing{
    display: grid;
    grid-template-rows: 7.5% 17.5% 7.5% 17.5% 7.5% 17.5% 7.5% 17.5%;
    height: 200vh;
  }
  #nasa-mission-arch{
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #nasa-mission-arch-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  #mars-direct{
    grid-row: 3;
    grid-column: 2;
    margin-top: 10px;
  }
  #mars-direct-txt{
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
  }
  #mission-type{
    grid-row: 5;
    grid-column: 2;
    margin-top: 10px;
  }
  #mission-type-txt{
    grid-row: 6;
    grid-column: 2;
    margin-top: 10px;
  }
  #cheap{
    grid-row: 7;
    grid-column: 2;
    margin-top: 10px;
  }
  #cheap-txt{
    grid-row: 8;
    grid-column: 2;
    margin-top: 10px;
  }
  /**conc.html**/
  #conclusion{
    grid-template-rows: 20% 80%;
  }
  #conc{
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    margin-top: 20px;
  }
  #conc-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px
  }