*{
    padding: 0;
    margin: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  /**navbar**/
#navbar-grid{
    height: 20vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    /**position: fixed;**/
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: silver;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-lnk{
    text-decoration: none;
  }
  .txt{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: silver;
    height: 90vh;
  }
  .txt-lnk{
    color: black;
  }
  .txt-lnk:hover{
    color: white;
  }
  .txt-lnk:visited{
    color: black;
  }
  /**abstract.html**/
  #abstract{
    grid-template-rows: 20% 80%;
  }
  #abstract-title{
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    margin-top: 10px;
  }
  #abstract-txt{
    text-align: justify;
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  /**background.html**/
  #background{
    grid-template-rows: 10% 40% 10% 40%;
  }
  #nasa{
    grid-row: 1;
    grid-column: 2;
    margin-top: 10px;
  }
  #nasa-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  #spacex{
    grid-row: 3;
    grid-column: 2;
    margin-top: 10px;
  }
  #spacex-txt{
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
  }
  /**problems.html**/
  #problem{
    grid-template-rows: 10% 20% 10% 20% 10% 20%;
    height: 120vh;
  }
  #MedicalProblem{
    grid-row: 1;
    grid-column: 2;
    margin-top: 10px;
  }
  #MedicalProblem-txt{
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
  }
  #InterplanetaryFlightProblem{
    grid-row: 3;
    grid-column: 2;
    margin-top: 10px;
  }
  #InterplanetaryFlightProblem-txt{
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
  }
  #CyclerOrbitsProblem{
    grid-row: 5;
    grid-column: 2;
    margin-top: 10px;
  }
  #CyclerOrbitsProblem-txt{
    grid-row: 6;
    grid-column: 2;
    margin-top: 10px;
  }